@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* 
.customMain {
  height: calc(100vh - 180px); 
}

@media (min-width: 425px) {
  .customMain {
    height: calc(100vh - 160px);
  }
}

@media (min-width: 1024px) {
  .customMain {
    height: calc(100vh - 154px); 
  }
}
*/
body {
  overflow-x: hidden;
}
