@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.customMain {
  height: calc(100vh - 180px); /* Default height for mobile */
}

@media (min-width: 425px) {
  /* Adjust for large mobile */
  .customMain {
    height: calc(100vh - 160px);
  }
}

@media (min-width: 1024px) {
  /* Adjust for desktop */
  .customMain {
    height: calc(100vh - 154px); 
  }
}

body {
  overflow: hidden;
}
